
#top /* Parte de arriba Header */{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    background-color: #f4d03f;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    opacity: 50%;
   }

#bottom /* Footer de plantilla */{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: whitesmoke;
    color: black;
}


#left /* Boton usuario */{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #d4ac0d;
    width: 90px;
}

#left:hover{
    background-color: #d4ac0d;
}

#left a /* texto de boton ver usuarios */{
    color: black;
    text-decoration: none;
}

#right /* No se ve interaccion */{
    float: right;
    background-color: orange;
    padding: 5px;
    width: 150px;
}

.center_content /* No se ve interaccion */{
    position: relative;
    background-color: orange;
    padding: 10px;
}

.left_content /* Cuadro central de datos */{
    position: relative;
    top: -53px;
    padding: 5px;
    margin-left: 120px;
    width: auto;
    height: 100%;
}

.right_content /* No se ve intraccion */{
    background-color: orange;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}




